doctype html
html
    head
        title= title 
        link(rel ="stylesheet" type="text/css" href="/css/style.css")
    body
        h1= message 
        img(src="images/wereldbol.jpg")
        script(src="script/script.js")