doctype html
html
    head
        title eierwekker
        link(rel ="stylesheet" type="text/css" href="css/style.css")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        div#tijd
            span#minuten 00
            span :
            span#seconden 00
        div#knoppen
            a.plusMinButton#plusje(href="#") +
            a.myButton#startknop(href="#") start
            a.plusMinButton#min(href="#") - 
        
        script const ws = new WebSocket(`wss://${location.hostname}#{ws_port_suffix}#{ws_port}`)
        script(src="script/script.js")